<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title | jsonify }},
  "description": {{ with .Description }}{{ . | jsonify }}{{ else }}{{ .Summary | plainify | truncate 160 | jsonify }}{{ end }},
  "url": {{ .Permalink | jsonify }},
  "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "author": {
    "@type": "Organization",
    "name": {{ site.Params.author | jsonify }},
    "url": {{ site.BaseURL | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.Title | jsonify }},
    "url": {{ site.BaseURL | jsonify }}
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  },
  "inLanguage": "en-GB"
  {{ with .Params.keywords }},
  "keywords": {{ . | jsonify }}
  {{ end }}
}
</script>
